/*
--Single changes and identical designs from "Projekte.scss" due to a custom design that is needed in the component
*/
.entry {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  align-self: center;
  justify-self: center;
  font-family: Monoton;
  font-size: 7rem;
  color: var(--color-quaternary);
}

.routelist {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 50px;
}

.routetext {
  font-size: 4rem;
}

.routetext:hover {
  font-family: Monoton;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
}

.gfccmain{
  -webkit-animation: test 10s infinite; /* Chrome, Safari, Opera */
    animation: test 10s infinite;
}

@-webkit-keyframes test {
  50% {letter-spacing: 40px;}
}
/* Standard syntax */
@keyframes test {
  50% {letter-spacing: 40px;}
}

.gfcc:hover {
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  letter-spacing: 10px;
}

.cmyk-letterc {
  display: none;
  color: cyan;
}
.cmyk-letterm {
  display: none;
  color: magenta;
}
.cmyk-lettery {
  display: none;
  color: yellow;
}
.cmyk-letterk {
  display: none;
  color: white;
}

.cmyk:hover{
    animation: fadeIn 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.cmyk:hover span {
  display: inline;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 992px) {

  .gfccmain{
    -webkit-animation: test 10s infinite; /* Chrome, Safari, Opera */
      animation: test 10s infinite;
  }

  @-webkit-keyframes test {
    50% {letter-spacing: 5px;}
  }
  /* Standard syntax */
  @keyframes test {
    50% {letter-spacing: 5px;}
  }

  .title {
    align-self: center;
    justify-self: center;
    font-family: Monoton;
    font-size: 3.8rem;
    color: var(--color-quaternary);
  }

  .routelist {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .routetext {
    font-size: 3rem;
    line-height: 50px;
  }
  .gfcc {
    letter-spacing: 10px;
  }
}
