#contact-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    flex-direction: column;
    height: 100vh;
}
.writer-wrapper{
    font-size: 7rem;
    font-weight: 600;
    display: block;
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact-icon{
    fill: currentColor;
    width: 120px;
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 992px) {
    #contact-container{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: 20% 80%;
        flex-direction: column;
        height: 100vh;
    }
    .writer-wrapper{
        font-size: 3rem;
        font-weight: 500;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: normal;
    }
    .icons{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .contact-icon{
        fill: currentColor;
        width: 70px;
        height: 70px;
        margin-left: 0px;
        margin-right: 0px;
    }
}