

figure { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* svg {
  padding: 5vw;
  width: 90vw;
}

svg > * { 
  fill: #ffffff;
  stroke: #1C1C1C;
  stroke-width: 0.85px;
} */

